#app {
    height: 100vh;
}

#character-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; /* Allow clicks to pass through */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden; /* Hide any overflow from character sprites */
}

#character-container .characterSprite {
    max-width: 60vw;
}